crustcool
makegrid
png/*
movie*.mp4
.DS_Store
o/*
!o/README.md
out/*
!out/README.md
envelope_data/*
!envelope_data/grid_He*
*.pyc
init/*
!init/init.dat.mcmc
!init/init.dat.1659_example
ps/*
mcmc/*
c/*.f
*.pdf
