o/*
crustcool
makegrid
png/*
movie*.mp4
.DS_Store
data
gon_out/*
out/*
!out/grid_He*
*.pyc
init/*
!init/init.dat.mcmc
!init/init.dat.1659_example
project.tmproj
ps/*
mcmc/*
mcgrid*
c/odeint_gsl.cc
h/odeint_gsl.h
